/*
CSS soubory ve složce /styles/ se do výsledného článku zakompilují automaticky
*/
.zasttype {
    margin-left: 5px;
}
#tooltip {
    min-height: 80px;
}

.radiob {
    max-width: 300px;
}

.mcmo_sel {
    max-width: 800px;
    width: auto;
}